<div class="content">
    <div class="row">
        @if (@ViewBag.Flag == 0)
        {
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"  style="background-color:grey">
                        <h5 class="title">Weather of @ViewBag.Name <img src="@ViewBag.CountryFlag" disabled="" style="width:40px;height:40px" value="@ViewBag.CountryName" /></h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-3 pr-1">
                                    <div class="form-group">
                                        <label id="TemperatureLB">Temperature</label>
                                        <input type="text" class="form-control" disabled="" value="@ViewBag.Temp °C">
                                    </div>
                                </div>
                                <div class="col-md-2 px-1">
                                    <div class="form-group">
                                        <label>Temperature Min</label>
                                        <input type="text" class="form-control" disabled="" value="@ViewBag.TempMin °C">
                                    </div>
                                </div>
                                <div class="col-md-2 px-1">
                                    <div class="form-group">
                                        <label>Temperature Max</label>
                                        <input type="text" class="form-control" disabled="" value="@ViewBag.TempMax °C">
                                    </div>
                                </div>
                                <div class="col-md-2 px-1">
                                    <div class="form-group">
                                        <label>Humidity</label>
                                        <input type="text" class="form-control" disabled="" value="@ViewBag.Humi %">
                                    </div>
                                </div>
                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        <label>Atmospheric pressure</label>
                                        <input type="text" class="form-control" disabled="" value="@ViewBag.Pressure hPa">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 pr-1">
                                    <div class="form-group">
                                        <label>Country Name</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.CountryName" />
                                    </div>
                                </div>
                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        <label>City Name</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.Name">
                                    </div>
                                </div>
                                <div class="col-md-2 pl-1">
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.X">
                                    </div>
                                </div>
                                <div class="col-md-2 pl-1">
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.Y">
                                    </div>
                                </div>
                                <div class="col-md-3 pl-1">
                                    <div class="form-group">
                                        <label>Timezone (UTC)</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.Timezone UTC">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Weather Description</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.Weather">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Wind Speed (m/s)</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.WindSpeed m/s">
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Wind Direction (°)</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.WindDeg °">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label> Cloudiness (%)</label>
                                        <input type="text" disabled="" class="form-control" value="@ViewBag.Clound %">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        Google Maps
                    </div>
                    <div class="card-body">
                        <div id="mapid"></div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="card">
                    <h1> Error: City not found</h1>
                </div>
            </div>
        }
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script>
        var mymap = L.map('mapid').setView([@ViewBag.Y, @ViewBag.X], 9);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        var marker = L.marker([@ViewBag.Y, @ViewBag.X]).addTo(mymap);

    marker.bindPopup('<img style="background-color:dimgrey" src="@ViewBag.LinkIcon" alt="..." /><br><b>@ViewBag.Name</b><br> @ViewBag.WeatherMin <br>@ViewBag.Temp °C <br>').openPopup();
</script>
